<div class="aboutMe-sec" #about>
        <div class="about-content">
            <div class="content-box">
                <div class="ab-hd">
                    <div class="nm">
                        <span>01.</span>
                    </div>
                    <div class="about-t">
                        <h3>About Me</h3>
                    </div>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="ab-pr">
                    <p>Hello! My name is Ajay and I enjoy creating things that live on the internet. My interest in web development started back in 2016 when I decided to try editing custom Blog themes — turns out exciting together a custom restructure button and layout taught me a lot about HTML & CSS!</p>

                    <p> Fast-forward to today, and I’ve had the privilege of working at HCL technologies, a huge corporation. My main focus these days is building accessible, inclusive products and digital experiences for a variety of products.</p>
                        
                    <p>I also recently launched Picstle digital Notes Arrangment App that help student's to organise their notes and links of study mateiral. 
                        
                        </p> 
                </div>
            </div>
            <div class="img-box">
                <div class="inner-div">
                    <div class="img-cont">
                        <div class="in-img">
                            <img src="./assets/profilecover.jpg" alt="Ajay Kumar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>