<div class="project-sec">
    <div class="prj-cont">
        <div class="ab-hd">
            <div class="nm">
                <span>03.</span>
            </div>
            <div class="about-t">
                <h3>Some Things I’ve Built</h3>
            </div>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="pr-sec">
            <div class="fst-prj">
                <div class="prj-img">
                    <img src=".//src/assets/project1.png" alt="">
                </div>
                <div class="prj-dt">
                    <div class="prj-title">Project 1</div>
                    <div class="prj-name">ViewerShip</div>
                    <div class="prj-descrip"><p>Web Portal connect small to mediaum size growing youtube channel's with marketing officials</p></div>
                    <div class="prj-tech"><p>Java, Spring , Angular 13 , HTML & CSS3, Postgress</p></div>
                    <div class="prj-links">github , link</div>
                </div>
            </div>
        </div>    
    </div>
</div>