<div class="project-sec">
    <div class="prj-cont">
        <div class="ab-hd">
            <div class="nm">
                <span>03.</span>
            </div>
            <div class="about-t">
                <h3>Some Things I’ve Built</h3>
            </div>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="pr-sec">
            <!-- first project -->
            <div class="fst-prj">
                <div class="prj-img">
                    <div class="sd-b">
                        <div class="prjImg-title">Viewership</div>
                        <div class="prjImg-des">Portal to connect youtube channel's with marketing officials.</div>
                        <div class="prjImg-img">
                            <div class="proj1">
                            <img src=".//src/assets/project1.png" alt="">
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="prj-dt">
                    <div class="prj-title">Project 1</div>
                    <div class="prj-name">ViewerShip</div>
                    <div class="prj-descrip"><p>Web Portal connect small to mediaum size growing youtube channel's with marketing officials.</p></div>
                    <div class="prj-tech"><p>Java, Spring , Angular 13 , HTML & CSS3, Postgress</p></div>
                    <div class="prj-links"><div class="icon">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div></div>
                </div>
            </div>
            <!-- first project -->
            <!-- second project -->
            <div class="secnd-prj">
                <div class="sec-prj-dt">
                    <div class="prj-title">Project 2</div>
                    <div class="prj-name">Picstle</div>
                    <div class="prj-descrip"><p>Web Portal connect small to mediaum size growing youtube channel's with marketing officials.</p></div>
                    <div class="prj-tech"><p>Java, Spring , Angular 13 , HTML & CSS3, Postgress</p></div>
                    <div class="prj-links"><div class="icon">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div></div>
                </div>
                <div class="prj-img">
                    <div class="sd-b">
                        <div class="prjImg-title">Picstle</div>
                        <div class="prjImg-des">A digital Arrangement App for Notes, Images, links etc.</div>
                        <div class="prjImg-img">
                            <div class="proj1">
                            <img src=".//src/assets/project2.webp" alt="">
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <!-- second project -->
        </div>    
    </div>
</div>