<div class="main">
    <div class="social-icon">
        <div class="github icon-s"> <i class="fa-brands fa-github"></i></div>
        <div class="instgram icon-s"><i class="fa-brands fa-instagram"></i></div>
        <div class="twiter icon-s"><i class="fa-brands fa-twitter"></i></div>
        <div class="linkdin icon-s"><i class="fa-brands fa-linkedin"></i></div>
        <div class="codepen icon-s"><i class="fa-brands fa-codepen"></i></div>
        <div class="line"><hr class="social-line"></div>
    </div>
    <div class="email">
        <div class="emai-sec"><p>378Ajaykumar@gmail.com</p></div>
        <div class="email-line"><hr class="email-line"></div>
    </div>
  <div class="header">
      <app-header></app-header>
  </div>
  <div class="router">
    <app-intro-section></app-intro-section>
    <app-about-me></app-about-me>
    <app-work-experience></app-work-experience>
    <app-projects></app-projects>
    <app-get-in-touch></app-get-in-touch>
  </div>
</div>