.main{
    width: 100%;
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
    overflow-y: scroll;
    background: #0a192f;
    position: relative;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(6, 15, 29, 0.85); 
    border-radius: 10px;
  }
.header-out{
  position: fixed;
  width: 100%;
  height: 6.4rem;
  background: var(--primary-color);
  box-shadow: black;
}
.header{
    width: 100%;
    height: 6.4rem;
    background: var(--primary-color);
    box-shadow: black;
}
.router{
    width: 80%;
    height: 9vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
   
    background: var(--primary-color);
}
.social-icon{
  position: absolute;
  position: fixed;
  display: block;
  margin: 0rem 3rem;
  bottom: 1.5rem;
  width: 10px;
  height: 20rem;

}
.icon-s{
  font-size: 1.4rem;
  margin: 1rem .3rem;
  color: #a8b2d1;
  padding: 0rem;
  transition: all 3ms ease;
}
.icon-s:hover{
  color: #64ffda;
  font-size: 1.5rem;
  padding-top: -.2rem;
}
.line{
  margin-top: 1.5rem;
  height: .1rem;
  width: 2rem;
  color: #a8b2d1;
}
hr{
  color: #a8b2d1;
}
.social-line{
  rotate: 90deg;
  width: 8rem;
  height: 1px;
  border: 1px solid #a8b2d1;;
  color: #a8b2d1;
  margin-left: -3rem;
  margin-top: 5.7rem;
}
.email{
  position: absolute;
  position: fixed;
  width: 25rem;
  height: 2rem;
  right: -8rem;
  padding: .5rem;
  bottom: 7rem;
  display: flex;
  rotate: 90deg;
  color: #a8b2d1;
  font-size: .8rem;
  font-family: 'Martian Mono', sans-serif;
  font-weight: 300;
}
hr{
  width: 7rem;
  margin-top: .5rem;
  margin-left: 2rem;
  color: #a8b2d1;
  border: 1px solid #a8b2d1;;
}


@media only screen and (max-width: 800px){
  .main{
    width: 100%;
    overflow-x: hidden;
  }
  .router{
    width: 85%;
    height: 200vh;
    margin: 0rem auto;
    background: var(--primary-color);
  }
  .social-icon{
    display: none;
  }
  .email{
    display: none;
  }
}


/* ------------------- */
.header{
  width: 100%;
  height: 6.4rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 1.7rem;
  margin: auto ;
  color: var(--green-light);
  margin-left: 4rem;
}
.menu-bar{
  display: none;
}
.nav-links{
  display: flex;
  font-size: .7rem;
  font-weight: 300;
  font-family: 'Martian Mono', sans-serif;
  margin: auto 3.8rem;
  transition: width 1s;
}
.nav-links-new{
  width: 0rem;
  display: flex;
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Martian Mono', sans-serif;
  margin: auto 3.8rem;
  transition: width 1s;
}
.clmn{
  display: none;
}
.nav-links ul{
  margin-top: .7rem;
  display: flex;
  list-style: none;
}
.nav-links ul li{
  margin-right: 2rem;
  display: flex;
}
.nav-links ul li a{
  color: var(--text-color-light);
  text-decoration: none;
  display: flex;
}
.spanw{
  margin: 0rem;
  padding: 0rem;
}
.nav-links ul li a:hover{
  color: var(--green-light);
}
.nav-links ul li a span{
  margin-right: .2rem;
  color: var(--green-light);
}
.resume-btn{
  text-align: center;
}
.resume-btn button{
  width: 5.2rem;
  height: 2.5rem;
  border-radius: .2rem;
  cursor: pointer;
  background: var(--primary-color);
  color: var( --green-light);
  border: 1px solid var( --green-light);
}
.resume-btn button:hover{
 
}

@media only screen and (max-width: 600px){
  .header{ 
      width: 100%;
      height: 5rem;
      position: relative;
  }
  .logo{
      margin-left: 2rem;
  }
  .menu-bar{
      display: block;
  }
  .nav-links{
      display: none;
  }
  /* .nav-links{
    display: block;
    width: 70%;
    height: 100vh;
    top: 0;
    right: 0;
    margin-right: 0rem;
    position: absolute;
    background: rgb(19, 45, 63);
    /* display: block; */
    /* padding-top: 2rem;
    align-items: center;
    justify-content: center;
  } */ 
  .clmn{
      width: 1rem;
      height: 1rem;
      display: block;
      position: absolute;
      font-size: 1.5rem;
      color: var(--green-light);
      right: 0;
      top: 2rem;
      right: 2rem;
      margin-right: 10%;
  }
  .clmn .fa-xmark{
      margin-bottom: 1rem;
      font-size: 2rem;
  }
  .nav-links ul{
      width: 100%;
      display: block;
      margin-top: 3rem;
      margin-bottom: 4rem;
      align-items: center;
      justify-content: center;
  }
  .nav-links ul li{
      width: 100%;
      display: block;
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      background: rgba(19, 45, 63, 0.932);
  }   
  .nav-links ul li a{
      text-align: center;
      display: block;
  }
  .spanw{
      padding: 1rem;
  }
  .menu-bar{
      width: 2rem;
      height: 2rem;
      font-size: 1.7rem;
      color: var(--green-light);
      margin-right: 2.5rem;
      cursor: pointer;
  }
  .icon{
      font-size: 3rem;
      cursor: pointer;
  }
  .resume-btn button{
     
  }
  
}

@media only screen and (max-width: 700px){
  .header{ 
      width: 100%;
      height: 5rem;
      position: relative;
      font-family: 'Martian Mono', sans-serif;
  }
  .menu-bar{
      display: block;
  }
  .menu-bar{
      width: 2rem;
      height: 2rem;
      font-size: 1.7rem;
      color: var(--green-light);
      margin-right: 2.5rem;
      cursor: pointer;
  }
  .nav-links{
      display: none;
      /* width: 50%;
      height: 100vh;
      font-size: .5rem;
      display: block;
      align-items: center;
      position: absolute;
      margin: .1rem;
      right: 0;
      top: 0;
      color: #fff;
      background: rgb(19, 45, 63);
      transition: width .5s; */
  }
  .nav-links .clmn{
      width: 1rem;
      height: 1rem;
      display: block;
      position: absolute;
      color: var(--green-light);
      right: 0;
      top: 2rem;
      right: 2rem;
      margin-right: 10%;
  }
  .clmn .fa-xmark{
      margin-bottom: 1rem;
      font-size: 2rem;
  }
  .nav-links ul{
      width: 100%;
      display: block;
      margin-top: 3rem;
      margin-bottom: 4rem;
      align-items: center;
      justify-content: center;
  }
  .nav-links ul li{
      width: 100%;
      display: block;
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      color: var(--green-light);
      /* background: rgba(19, 45, 63, 0.932); */
  }   
  .nav-links ul li a{
      text-align: center;
      display: block;
      color: #fff;
      font-size: .8rem;
      text-decoration: none;
  }
  .spanw{
      padding: 1rem;
      text-decoration: none;
      color: var(--green-light);
  }
  /* opn menu */
  
  .nav-links-new{
     width: 50%;
     height: 100vh;
     font-size: .5rem;
     display: block;
     align-items: center;
     position: absolute;
     margin: .1rem;
     right: 0;
     top: 0;
     color: #fff;
     background: rgb(19, 45, 63);
     transition: width .5s;
  }
  .nav-links-new .clmn{
      width: 1rem;
      height: 1rem;
      display: block;
      position: absolute;
      color: var(--green-light);
      right: 0;
      top: 2rem;
      right: 2rem;
      margin-right: 10%;
  }
  .clmn .fa-xmark{
      margin-bottom: 1rem;
      font-size: 2rem;
  }
  .nav-links-new ul{
      width: 100%;
      display: block;
      margin-top: 3rem;
      margin-bottom: 4rem;
      align-items: center;
      justify-content: center;
  }
  .nav-links-new ul li{
      width: 100%;
      display: block;
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      color: var(--green-light);
      /* background: rgba(19, 45, 63, 0.932); */
  }   
  .nav-links-new ul li a{
      text-align: center;
      display: block;
      color: #fff;
      font-size: .8rem;
      text-decoration: none;
  }
  .spanw{
      padding: 1rem;
      text-decoration: none;
      color: var(--green-light);
  }
  /* opn menu end */
  /* close menu */
  .nav-links-new-cl{
      width: 0rem;
      height: 100vh;
      font-size: .5rem;
      display: block;
      position: absolute;
      margin: .1rem;
      right: 0;
      top: 0;
      color: #fff;
      transition: width .5s;
      background: rgb(19, 45, 63);
    }
    .nav-links-new-cl .clmn{
       width: 1rem;
       height: 1rem;
       display: block;
       position: absolute;
       color: var(--green-light);
       right: 0;
       top: 2rem;
       right: 2rem;
       margin-right: 10%;
   }
   .clmn .fa-xmark{
       margin-bottom: 1rem;
       font-size: 2rem;
   }
   .clmn-cl{
      display: none;
   }
   .nav-links-new-cl ul{
      width: 100%;
      display: block;
      margin-top: 3rem;
      margin-bottom: 4rem;
      align-items: center;
      justify-content: center;
   }
   .nav-links-new-cl ul li{
      width: 100%;
      display: block;
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      color: var(--green-light);
   }   
   .nav-links-new-cl ul li a{
      text-align: center;
      display: block;
      color: #fff;
      font-size: .8rem;
      text-decoration: none;
  }
  .spanw{
      padding: 1rem;
      text-decoration: none;
      color: var(--green-light);
  }
   /* cls menu */
}

@media only screen and (max-width: 1920px){
 
}