<div class="getIntouch-sec">
    <div class="content">
            <div class="title">
                <p><span>04.</span>What’s Next?</p>
            </div>
            <div class="message">Get In Touch</div>
            <div class="sub-msg"><p>Currently Looking for opportunities in the field of Software/Web development. Where i can learn and implement more in-depth concepts of Engineering and Development using java, spring, Angular.</p></div>
            <div class="t-button"><button>Say Hello</button></div>
    </div>
    <div class="social-icon">
        <div class="f-icons">
            <div class="github icon-s"> <i class="fa-brands fa-github"></i></div>
            <div class="instgram icon-s"><i class="fa-brands fa-instagram"></i></div>
            <div class="twiter icon-s"><i class="fa-brands fa-twitter"></i></div>
            <div class="linkdin icon-s"><i class="fa-brands fa-linkedin"></i></div>
            <div class="codepen icon-s"><i class="fa-brands fa-codepen"></i></div>
            <div class="line"><hr class="social-line"></div>
        </div>
    </div>
    <div class="footer">
       <p>Design and built by Ajay Kumar</p>
    </div>
</div>