<div class="workExp-sec">
    <div class="exp-content">
            <div class="ab-hd">
                <div class="nm">
                    <span>02.</span>
                </div>
                <div class="about-t">
                    <h3>Where I’ve Worked</h3>
                </div>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div class="exp-cont">
                <div class="com-nm">
                    <ul>
                        <li (click)="atHCL()">HCL Tech</li>
                        <li (click)="atmkr()">MKR Techsoft</li>
                    </ul>
                </div>
                <div class="com-prf">
                    <div class="desig">{{desig}}</div>
                    <div class="wrk-t">{{wkTm}}</div>
                    <div class="wk-pf"><i class="fa-regular fa-triangle"></i><p>{{profile}}</p>
                    </div>
                </div>
            </div>
    </div>
</div>